*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(41, 41, 41);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:rgb(15, 15, 15);
    color: whitesmoke;

}

.navbar-brand{
    color:rgb(211, 211, 211);
    font-size: 3rem;
    
    text-decoration: none;
} 
.form-group{
    margin-bottom: 1rem;
}

#inputValue{
    width: 300px;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    outline: none;
    color: #395057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#search{
    color:#fff;
    background-color: #232b2e;
    outline: none;
    min-height: 38px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: .375rem .30rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

 .searchbox{
     margin-top:5vh;
     margin-bottom: 5vh;
    h1, form, button{
        
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    h1{
        color: rgb(211,211,211);
    }
 }
#movies-searchable{
    margin-top: 20px;
    margin-bottom: 50px;
}

section{
    display:flex;
    width: 100%;
    min-height: 500px;
    overflow-x:auto;
    overflow-y: hidden;
    background-color:rgb(41, 41, 41)
    
}

section img{
    background-color:rgb(15, 15, 15);
    padding-top: 5px;
    margin-top: 3%;
    width: 300px;
    height: 400px;
    transition: 250ms all;
    padding: 0vh 1vh
    

}

img:hover{
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

.content{
    border : 1px solid rgb(211, 211, 211);
    padding: 20px;
    display: none;
}

#content-close {
    cursor: pointer;
}

.conent div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.content-display{
    display: block;
}

#movies-container{
    margin-bottom: 50px;
}

h2{
    color: rgb(211,211,211)
}